body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: grey; /* Initial Background color*/
    margin: 10;
    padding: 15px;
}
h1 {
    color: whitesmoke;
    margin-bottom: 15px;
}
button {
    background-color: #df2783;
    color: brown;
    padding: 10px 20px;
    border: none;
    border-radius: 100px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
button :hover {
    background-color: red;
    transform: scale(0.95s);
}

/* add toggle*/

body.dark-mode {
background-color: #333;
color: black;
transition: background-color 0.5s ease, color 0.5s ease;
}

button{
color: white;
}

body.dark-mode button {
    background-color: black;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("img1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
